body {
    background: lightcyan;

    font-size-adjust: inherit;
    border-bottom: dotted;

    width: 970px;
    margin: auto;
    border-bottom: dotted;
}

p{
    white-space: pre-wrap;
    font-size: medium;

}
h1{
    font-size: x-large;

}